version: '2'
services:
  openvpn:
    restart: always
    image: kylemanna/openvpn
    container_name: openvpn
    ports:
     - 1194:1194/udp
     - 1194:1194
    cap_add:
     - NET_ADMIN
    volumes:
     - ./openvpn-data/conf:/etc/openvpn:rw
